.fav_AddButton{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #F2CE68;
    padding: 0px 5px;
    border-radius: 5px;
    border-color: #F2CE68;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    line-height: 20px;
}

.fav_RemoveButton{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #C48C37;
    padding: 0px 5px;
    border-radius: 5px;
    border-color: #C48C37;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    line-height: 20px;
}