.search_MenuText{
    font-size: 30px;
    border-bottom: 3px solid #5fbcd3;
    font-weight: bold;
    margin: 15px auto 0 15px;
}
  
.search_Form {
flex-direction: row;
height: 72px;
line-height: 2;
margin-top: auto;
padding: 5px 8px;
border-radius: 6px;
font-size: 24px;  
}

.search_TextBox{
width: 70%;
height: auto;
padding: 5px 8px;
border-radius: 6px;
border-top: 1px solid #75BAD0;
border-left: 1px solid #75BAD0;
border-right: 2px solid #75BAD0;
border-bottom: 2px solid #75BAD0;  
background-color: #FFFFFF;
font-size: 24px;
}

.search_TextSearchBtn {
width: 20%;
height: auto;
background-color: #75BAD0;
font-size: 24px;
}

.search_RadioBtn {
display: inline-block;
white-space: nowrap;
}

.search_HashSearchBtn {
width: 50%;
background-color: #97d1e4;
font-size: 18px;
}