.map_navCamera {
  position: absolute;
  bottom: 15vh;
  right: 4vw;
  z-index: 1000;
}
.map_navCameraImage {
  width: 80%;
  height: 80%;
  max-height: 100px;
  max-width: 100px;
}

.map_RootButton{
  position: absolute;
  font-size: 2vh;
  right: 0;
  bottom: 0px;  
  padding: 0px 5px;  
  background-color: #00000088;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  line-height: 20px;
}

.popup_ImgField{
  position: relative;
}

.popup_Image{
  width: 25vh;
  height: 25vh;
}

.popup_Name{
  position: absolute;
  color: white;
  font-size: 2vh;
  background-color: #00000088;
  left: 0;
}

.popup_Tag{
  position: absolute;
  color: lightgray;
  font-size: 2vh;
  left: 0;  
}

.popup_offHour{
  position: absolute;
  font-size: 2vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0px 5px;  
  background-color: #00000088;
  font-weight: bold;
  color: #ff8e8e;
  float: left;
  line-height: 20px;
}

.event_Window{
  position: absolute;
  border: solid 3px #2c89A0;
  border-radius: 3px;
  background-color: rgb(247, 239, 173);
  bottom: 15vh;
  right: 4vw;
  z-index: 1000;
}

.event_Title{
  width: 100%;
  border-bottom: solid 3px #2c89A0;  
  font-size: 2vh;
  text-align: center;
  color: #000000;
}

.event_Text{
  width: 100%;
  font-size: 3vh;
  text-align: center;
  color: #000000;
}